* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    background-color: #1870ff;
    font-size: 50px;
    border-radius: 10px;
    border: 5px solid gold;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

h3 {
    color: blueviolet;
    text-decoration: underline;
    font-size: 30px;
}

.home {
    font-size: 30px;
}

.page-top {
    font-size: 30px;
}

ol {
    box-sizing: border-box;
    width: 400px;
}

li {
    color: white;
    background-color: #1870ff;
    padding: 10px;
    border: 2px solid gold;
    border-radius: 10px;
    margin: 0px 10px -2px 0px;
    box-sizing: border-box; /* Alternate box layout sets total size including margin and border */
    height: auto;
    width: 400px;
}

.recipe {
    font-size: 30px;
}

a {
    color: black;
}

.links-bottom {
    background-color:#1870ff;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}